name: Deploy mdBook
on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup mdBook
        run: |
          curl -sSL https://github.com/rust-lang/mdBook/releases/download/v0.5.2/mdbook-v0.5.2-x86_64-unknown-linux-gnu.tar.gz | tar -xz
          chmod +x mdbook
          ./mdbook build
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./book
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2